*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img1.jpg);
    background-position: center;
    background-size: cover;
  }
  html {
    overflow-y:scroll;
}

  .kosonto{
  margin-top: 100px;
  }

.kosonto h1{
    font-size: 45px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
    text-align: center;
}
  .leiras{
    font-size: 23.5px;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .minden{
    text-align: center;
  }

  .abt{
    font-size: 40px;
    color: #fff;
  }

.elerhetosegek{
  list-style: none;
  font-size: 23px;
  margin-top: 30px;
  color: white;
}


  nav{
    height: 130px;
    width: 100%;
    background:black;
    position: relative;
    top: 0px;
    padding-top: 18px;
  }
  label.logo{
    color: white;
    font-size: 60px;
    line-height: 100px;
    padding: 0 10px;
    margin-left: 25px;
    font-weight: bold;
    padding-left: 40px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    z-index: 4;
  }
  nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 27px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a:hover{
    background: white;
    transition: .5s;
  }

  @media (max-width: 1019px){
    label.logo{
      display: none;
    }
    nav ul {
      float: none;
      text-align: center;
    }
  }

@media (max-width:500px){
  nav ul li a{
    font-size: 6vmin;
    padding: 4px;
  }

}

@media (max-width: 550px){

  .leiras{
    font-size: 4vmin;
  }

  .elerhetosegek{
    font-size: 3vmin;
    height: 80px;
  }
  .kosonto h1{
    font-size: 35px;
  }
}

@media (max-width: 350px){
  .abt{
    font-size: 8vmin;
  }
  .leiras{
    margin-bottom: 5px;
  }
}

@media (max-width:550px) {
  .kosonto{
    margin-top: 30px;
  }  
}

@media (max-width:750) {
  body{
    padding-left: 7px;
    padding-right: 7px;
  }
  
}