@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(sutihatter.jpg);
}

.bemutato{
    text-align: center;
}

.egesz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
    font-family: "Popins",sans-serif;
}

.box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.7s;
}

.box:hover{
    height: 600px;
}

.box .imgBx{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.box .imgBx img{
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s;
}

.box:hover .imgBx img{
    opacity: 1;
}

.box::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
}

.box::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(5px);
}


.box .content{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content{
    opacity: 1;
}

.box .content h2{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span{
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}

h1{
    color: #fff;
    font-size: 50px;
}



.price{
    color: wheat;
    font-size: 20px;
}

.bemutato{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(000, 000, 000, 0.8)
}

.nav-bar .title{
    color: #fff;
    font-size: 67px;
    font-weight: 600;
}

.menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: .4s ease;
}
.menu li a:hover{
    color: crimson;
    padding: 5px 10px;
    border: 2px solid #fff;
}