@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(sutihatter.jpg);
}

.bemutato{
  text-align: center;
}
html {
  overflow-y:scroll;
}
.egesz{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  font-family: "Popins",sans-serif;
}

.box{
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.9s;
}

.box:hover{
  height: 544px;
}

.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  height: auto;
  box-sizing: content-box;
}

.box .imgBx img{
  max-width: 100%;
  opacity: 0.3;
  transition: 0.7s;
}

.box:hover .imgBx img{
  opacity: 1;
}

.box::before{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: white;
  z-index: -1;
}

.box::after{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(5px);
}


.box .content{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}

.box:hover .content{
  opacity: 1;
}

.box .content h2{
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

.box .content h2 span{
  font-size: 15px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}



.price{
  color: wheat;
  font-size: 20px;
}


.kosonto{
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: "Poppins";
  font-weight: bold;
  margin-top: 10px;
}



nav{
    height: 130px;
    width: 100%;
    background:black;
    position: relative;
    top: 0px;
    padding-top: 18px;
  }
  label.logo{
    color: white;
    font-size: 60px;
    line-height: 100px;
    padding: 0 10px;
    margin-left: 25px;
    font-weight: bold;
    padding-left: 40px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
    z-index: 4;
  }
  nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 27px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a:hover{
    background: white;
    transition: .5s;
  }

  @media (max-width: 1019px){
    label.logo{
      display: none;
    }
    nav ul {
      float: none;
      text-align: center;
    }
    .kosonto{
      font-size: 60px;
    }
  }

@media (max-width:500px){
  .kosonto{
    font-size: 12vmin;
  }
  nav ul li a{
    font-size: 6vmin;
    padding: 4px;
  }
  .box{
    width: 200px;
    height: 200px;
  }
  .box .content{
    bottom: 30px;
  }
}
